In [8]:
import numpy as np
import pandas as pd 
from statsmodels.stats.proportion import proportions_ztest

In [10]:
# Load the Titanic dataset 
url = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'
titanic_data = pd.read_csv(url)

titanic_data.sample(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
164,165,0,3,"Panula, Master. Eino Viljami",male,1.0,4,1,3101295,39.6875,NaN,S
240,241,0,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C
67,68,0,3,"Crease, Mr. Ernest James",male,19.0,0,0,S.P. 3464,8.1583,NaN,S
584,585,0,3,"Paulner, Mr. Uscher",male,NaN,0,0,3411,8.7125,NaN,C
744,745,1,3,"Stranden, Mr. Juho",male,31.0,0,0,STON/O 2. 3101288,7.9250,NaN,S

#### For the titanic dataset 
- perform the hypothesis testing to claim that there is a 
significant difference between  proportions of survived females to that of survive 
malemeans.

In [12]:
# The number of survivors by gender
survivors_by_gender = titanic_data.groupby('Sex')['Survived'].sum()
total_by_gender = titanic_data['Sex'].value_counts()

# Number of survived females and males
survived_females = survivors_by_gender['female']
survived_males = survivors_by_gender['male']

# Total number of females and males
total_females = total_by_gender['female']
total_males = total_by_gender['male']

# Two-proportion z-test
count = [survived_females, survived_males]
nobs = [total_females, total_males]

stat, p_value = proportions_ztest(count, nobs)

print(f'Statistic: {stat}')
print(f'P-value: {p_value}')

Statistic: 16.218833930670097
P-value: 3.7117477701134797e-59

In [16]:
if p_value < 1.96 and p_value > -1.96:
    print("We Accept the Null Hypothesis: there is a significant difference between proportions of survived females to that of survive male")
else:
    pint("Reject H0")

We Accept the Null Hypothesis: there is a significant difference between proportions of survived females to that of survive male

#### For the iris dataset perform the ANOVA testing.
- â€œNormally, species variable put as dependent variable to do classification. But species also can put as independent variable to conduct ANOVA test. Conduct the statistical test that figures out three or more differences in group means.

In [2]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols

# Load the iris dataset
url = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv'
iris_data = pd.read_csv(url)

iris_data.head(4)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa

In [6]:
# ANOVA for each numerical feature
features = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']
results = {}

for feature in features:
    model = ols(f'{feature} ~ species', data=iris_data).fit()
    anova_table = sm.stats.anova_lm(model, typ=2)
    results[feature] = anova_table

# Print the results
for feature, result in results.items():
    print(f'ANOVA results for {feature}:')
    print(result, '\n')

ANOVA results for sepal_length:
             sum_sq     df           F        PR(>F)
species   63.212133    2.0  119.264502  1.669669e-31
Residual  38.956200  147.0         NaN           NaN

ANOVA results for sepal_width:
             sum_sq     df         F        PR(>F)
species   11.344933    2.0  49.16004  4.492017e-17
Residual  16.962000  147.0       NaN           NaN

ANOVA results for petal_length:
            sum_sq     df            F        PR(>F)
species   437.1028    2.0  1180.161182  2.856777e-91
Residual   27.2226  147.0          NaN           NaN

ANOVA results for petal_width:
             sum_sq     df           F        PR(>F)
species   80.413333    2.0  960.007147  4.169446e-85
Residual   6.156600  147.0         NaN           NaN